/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: 'PT Sans';
  font-size: 18px;
  background-color: #f8f8f8;
  color: #4c4c4c;
}

a {
  color: #0C0D0D;
}

a:hover {
  color: #424242;
}

a:visited {
  text-decoration: none;
}

.container {
  padding-top: 40px;
}

.social-links img {
  display: inline-block;
  padding-left: 5px;

}

@media(max-width: 500px) {
  .social-links img {
  display: inline-block;
  padding-left: 5px;
  margin-top: 70px;
  float: left;

}
}

.post-title-section {
  background-color: #84A0F5;
  padding: 80px;
}

.post-title {
  font-size: 32px;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-content {
  font-size: 18px;
}

.post-cat {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.post-author {
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.post-summary-title {
  font-size: 26px;
  font-weight: bold;
  color: #000;
}

.post-summary-title a:hover {
  font-size: 26px;
  font-weight: bold;
  color: #0CB022;
  text-decoration: none;
}

.post-summary-content {
  margin-bottom: 40px;
}

.post-summary-content a {
  font-weight: bold;
}


.posted {
  color: #969696;
}

.sidebar-content {
  background-color: #fff;
  border: 2px solid #EDEDED;
  padding: 20px;
  margin-bottom: 30px;
  font-size: 16px;
}

.underline {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
}

.highlight-title {
  font-family: 'Pavanam';
  background-color: #ED6300;
  color: #fff;
  padding: 8px;
}

.highlight-post-cat {
  font-family: 'Pavanam';
  background-color: #ED6300;
  color: #fff;
  padding: 4px;
  margin-right: 10px;
}

.post-title {
  font-size: 32px;
}

.post-content {
  margin-top: 30px;
}

.newsletter {
  border-bottom: 2px solid #ED6300;
  background: url('../img/bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #fff;
}

.pagination {
  display: inline-block;
  margin-bottom: 60px;
}

.pagination a {
  color: #ed6300;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ed6300;
  color: #fff;
}


.btn, .btn-primary {
  border-radius: 0;
}

.footer {
  background-color: #1d1d1d;
  padding: 30px;
  text-align: center;
  color: #eee;
}

.navbar-custom1 {  
  background-color: #D9D9D9;
  border-bottom: 2px solid #CFD1D1;
  border-radius: 0;
  margin: 0;
  padding: 20px;
  padding-bottom: 60px;

}

.navbar-default .navbar-nav > li > a {
  background: none;
  color: #11470F;
  font-weight: bold;
  font-size: 18px;

}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #0CB022;
  background: none;
  
}

.navbar-nav > li > a { padding-top:10px !important; padding-bottom:10px !important;}
.navbar {  min-height:10px !important; }