<div class="footer-image-list">
    {% include "@molecules/05-footer-list/footer-image-list.twig" with {
      "footer_images":footer_images
    }  %}
</div>

<div class="site-footer">
    {% include "@atoms/footer-text.twig"  with {
      "content":content
    } %}
</div>
