<ul class="sg-colors">
	<li>
		<span class="sg-swatch -blue"></span>
		<span class="sg-label">$key-color-blue--base</span>
	</li>
	<li>
		<span class="sg-swatch -lightblue"></span>
		<span class="sg-label">$key-color-blue--lighter</span>
	</li>
	<li>
		<span class="sg-swatch -darkblue"></span>
		<span class="sg-label">$key-color-blue--darker</span>
	</li>
	<li>
		<span class="sg-swatch -orange"></span>
		<span class="sg-label">$key-color-orange--base</span>
	</li>
	<li>
		<span class="sg-swatch -lightorange"></span>
		<span class="sg-label">$key-color-orange--lighter</span>
	</li>
	<li>
		<span class="sg-swatch -darkorange"></span>
		<span class="sg-label">$key-color-orange--darker</span>
	</li>
	<li>
		<span class="sg-swatch -purple"></span>
		<span class="sg-label">$key-color-purple--base</span>
	</li>
	<li>
		<span class="sg-swatch -lightpurple"></span>
		<span class="sg-label">$key-color-purple--lighter</span>
	</li>
	<li>
		<span class="sg-swatch -darkpurple"></span>
		<span class="sg-label">$key-color-purple--darker</span>
	</li>
	<li>
		<span class="sg-swatch -green"></span>
		<span class="sg-label">$key-color-green--base</span>
	</li>
	<li>
		<span class="sg-swatch -lightgreen"></span>
		<span class="sg-label">$key-color-green--lighter</span>
	</li>
	<li>
		<span class="sg-swatch -darkgreen"></span>
		<span class="sg-label">$key-color-green--darker</span>
	</li>
</ul>
