<ul class="sg-colors">
	<li>
		<span class="sg-swatch -base1"></span>
		<span class="sg-label">$key-color-1--base</span>
		
	</li>
	<li>
		<span class="sg-swatch -base2"></span>
		<span class="sg-label">$key-color-2--base</span>
	</li>
	<li>
		<span class="sg-swatch -darkblue"></span>
		<span class="sg-label">$key-color-blue--darker</span>
	</li>
	<li>
		<span class="sg-swatch -base-font-color"></span>
		<span class="sg-label">$base-font-color</span>
	</li>
	<li>
		<span class="sg-swatch -darkgray"></span>
		<span class="sg-label">$dark-gray</span>
	</li>
	<li>
		<span class="sg-swatch -mediumgray"></span>
		<span class="sg-label">$medium-gray</span>
	</li>
	<li>
		<span class="sg-swatch -lightgray"></span>
		<span class="sg-label">$light-gray</span>
	</li>
	<li>
		<span class="sg-swatch -base-background"></span>
		<span class="sg-label">$base-background-color</span>
	</li>
</ul>