.social-icon {
  display: inline-block;
  height: 2em;
  margin: 0 auto;
  padding: 0;
  width: 2em;

  a {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: inherit;
    text-indent: -9999px;
    width: inherit;

    &.Twitter {
      background-image: url('../images/social_media_icons/social_twitter.png');
    }

    &.Facebook {
      background-image: url('../images/social_media_icons/social_facebook.png');
    }

    &.LinkedIn {
      background-image: url('../images/social_media_icons/social_linkedin.png');
    }
  }
}
