.list-element {
  margin-bottom: 1em;

  .list-element-body {
    display: block;
    .list-element-image {
      float: left;
      clear: left;
      margin: 1em;
      margin-left: 0px;
      margin-top: 0px;
    }
    &:after {
      content:" ";
      display:block;
      clear:both;
    }
  }
}