<div class="list-element">
    {% include "@molecules/blog-tags.twig" with {"tag_list": tag_list} %}
    <div class="list-element-body">
        {% if image_url %}
        <div class="list-element-image">
            {% include "@atoms/list-image.twig" %}
        </div>
        {% endif %}
        {% include "@atoms/list-title.twig" with {"title": title}  %}
        {% include "@atoms/list-posted-on.twig" %}
        {% include "@atoms/list-body.twig" %}
    </div>
</div>