.sidebar {

  @include breakpoint($md-up) {
    min-height: 100vh;
  }

  input[type="search"] {
    box-sizing: border-box;
  }

  .form-type-search {
    .form-actions {
      display: none;
    }
  }
}

.grid-cell {
  align-items: start;
  color: inherit;
  display: block;
  margin: 2em;

  a {
    color: inherit;

  }

}

