.logo--wrapper {
  @include shadow;
  background: $key-background-color;
  display: inline-block;
  height: 5.5em;
  margin: 0;
  padding-top: 1em;
  width: 100%;

  .logo--link {
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: inherit;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    width: 9em;
    margin-left: auto;
    margin-right: auto;
  }
}
