.logo--wrapper {
  display: block;
  padding: 0;
  margin: 0;
  width: 10em;
  height: 10em;
}

.logo--link {
  display: block;
  padding: 0;
  margin: 0;
  width: inherit;
  height: inherit;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -9999px;
}
