#header {
  background-color: $key-color-blue--darker;
  display: grid;
  height: 100%;
  margin: 0;
  padding: 0;
  
  color: #fff;

  > .grid-cell {
  
    color: $button-text-color;

  }

  .grid-cell--content {
    display: none;

    &.show-on-mobile {
      display: block;
    }

    a {

      color: $button-text-color;
    }

    @include breakpoint($lg-up) {
      display: block;
    }
  }

  // Menu button
  .grid-cell--menu {
    display: block;
    margin: 1em auto;
    width: 100%;

    .nav-icon {
      display: block;
      text-align: center;

      a {
        width: 100%;
      }
    }

    @include breakpoint($lg-up) {
      display: none;
    }
  }
}
