.header {
  background-color: $key-color-blue--darker;
  display: grid;
  margin: 0;
  padding: 0;
  height: 100%;

  > .grid-cell {
    align-items: center;
    margin: 1em auto;
    max-width: 260px;
    justify-content: center;
  }
}

.grid-cell--content {
  color: $button-text-color;
  display:none;
  
  a {
  
    color: inherit;
  }

  @include breakpoint($lg-up) {
    display:inline-block;
  }
  
}

.menu-icon {

  

  @include breakpoint($lg-up) {
    display:inline-block;
  }
}