<header id="site-header" class="grid">
  <div class="grid-cell grid-cell--logo">
    {% include "@atoms/logo.twig"  %}
  </div>
  <div class="grid-cell grid-cell--social-icons">
    {% include "@atoms/social-icons.twig"  %}
  </div>
</header>
