.page-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section {
  margin: 0;
  padding: 0;
  width: 100%;
}

.content {
  margin-left: 2em;
}

.main-wrapper {
  display: grid;
  grid-template-areas:
  "a"
  "b";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  @include breakpoint($md-up) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    'b b a a a a a a ';
  }

  @include breakpoint($lg-up) {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
        "b b a a a a a a ";
  }

  .sidebar {
    grid-area: b;
  }

  .content {
    grid-area: a;
  }
}

.section-footer {

}
